<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.entertainmatch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".view.category.VoteCategoryActivity"
            android:label="@string/title_activity_vote_category"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.entertainmatch.view.MainActivity" />
        </activity>
        <activity
            android:name=".view.event.EventListActivity"
            android:label="@string/title_event_list"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.entertainmatch.view.MainActivity" />
        </activity>
        <activity
            android:name=".view.event.EventDetailActivity"
            android:label="@string/title_event_detail"
            android:parentActivityName=".view.event.EventListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.entertainmatch.view.event.EventListActivity" />
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".view.date.VoteDateActivity"
                android:label="@string/title_activity_vote_date"
                android:parentActivityName=".view.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="io.github.entertainmatch.view.MainActivity"/>
        </activity>
        <activity
                android:name=".view.result.VoteResultActivity"
                android:label="@string/vote_result_headline"
                android:parentActivityName=".view.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".view.poll.CreatePollActivity"
                android:label=""
                android:parentActivityName=".view.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="io.github.entertainmatch.view.MainActivity"/>
        </activity>
    </application>

</manifest>